<h2><%= @title %></h2>

<%== content_tag(:p, :style=>'font-weight:bold; color:987;') do %>
  testing 1... 2... 3...
<% end %>

<% @p=capture do %>
This is the content for @p
<% end %>

<% 10.times do -%>
<div><%= @p %></div>
<% end -%>